.main {
  float: left;
}
.switch_board {

  background-color: #ff0000;
  height: 400px;
  width: 400px;
}
.switch {
      margin-left: 150px;
      margin-top: 150px;
      background-color: #ffff00;
}
td {
  width: 200px;
  height: 20px;
  border: solid; 1px;
  border-spacing: 1px;
}
